<div class="container pt-5">
  <div class="jumbotron bg-light">
    <h1>Spotifyn Dining</h1> 
    <p>
        Lunching is always better with a little music!
    </p>
    <p>
        Resemblence to any other site should not be construed to suggest that the Site is
        affiliated or associated with the owner of the site, or that Assurance is legally
        authorized to use any trade mark, service mark, trade name, logo or copyrighted symbol
        that may be reflected in the link or the description of the link to such other sites. :)
    </p> 
  </div>
</div>
